<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="titulo">
        <h1>Mis Recetas</h1>
        </div>

    <nav>
        @Html.ActionLink("Inicio", "Index", "Home")
        @Html.ActionLink("Recetas", "Index", "Receta")

    </nav>

    </header>

    <main>
    <div class="contenido">
            @RenderBody()
    </div>
      <aside>
            @if (IsSectionDefined("SideBar"))
            {
                @RenderSection("SideBar")
            }
    </aside>
    </main>

    <footer>
        <h3>roisrecetas@web.com</h3>
    </footer>
</body>
</html>
