@model IEnumerable<SistemaWebMisRecetas.Models.Receta>


@{
    ViewData["Title"] = "TraerApellido";
}


@Html.ActionLink("Nuevo","Insertar","Receta")
   <table>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Nombre)</th>
            <th>@Html.DisplayNameFor(model=>model.Categoria)</th>
            <th>@Html.DisplayNameFor(model=>model.Ingredientes)</th>
            <th>@Html.DisplayNameFor(model=>model.Instrucciones)</th>
            <th>@Html.DisplayNameFor(model=>model.Autor)</th>
            <th>@Html.DisplayNameFor(model=>model.Apellido)</th>
            <th>@Html.DisplayNameFor(model=>model.Edad)</th>
            <th>@Html.DisplayNameFor(model=>model.Email)</th>

            <th></th>
        </tr>
    @foreach (var item in Model)
    {
                    <tr>
                        <td>
                @Html.ActionLink(item.Nombre,"Details","Receta",new{id=item.Id })
                        </td>
                        <td>
                @Html.DisplayFor(modelItem=>item.Categoria)
                        </td> 
                        <td>
                @Html.DisplayFor(modelItem=>item.Ingredientes)
                        </td> 
                        <td>
                @Html.DisplayFor(modelItem=>item.Instrucciones)
                        </td> 
                        <td>
                @Html.ActionLink(item.Autor,"TraerAutor","Receta",new{autor=item.Autor })
                         </td> 
                        <td>
                @Html.ActionLink(item.Apellido,"TraerApellido","Receta",new{apellido=item.Apellido })
                            </td> 
                        <td>
                @Html.DisplayFor(modelItem=>item.Edad)
                        </td> 
                        <td>
                @Html.DisplayFor(modelItem=>item.Email)
                        </td> 
                        <td>
                @Html.ActionLink("Detalle","Details","Receta",new{id=item.Id })
                @Html.ActionLink("Eliminar","Delete","Receta",new{id=item.Id })
                @Html.ActionLink("Editar", "Edit", "Receta", new{id=item.Id })
                        </td>
                       </tr>
    }
    </table>
